.fish
{
    top: 50%;
    transform: translate(0,100%);
    position: relative;
    float: left;
    margin: 0px auto;
    animation: fishfloat 3s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}


@keyframes fishfloat{
    0% {left: 0;
		-webkit-animation-timing-function: ease-in;
	}
	40% {}
	50% {left: 100px; top: 1px;
		-webkit-animation-timing-function: ease-in;
	}
	55% {left: 140px; top: 2px;
		-webkit-animation-timing-function: ease-in;}
	65% {left: 160px; 
		-webkit-animation-timing-function: ease-in;}
	95% {
		left: 180; top: 3px;
		-webkit-animation-timing-function: ease-in;
	}
	100% {left: 200;
		-webkit-animation-timing-function: ease-in;
	}
}